<!DOCTYPE html>
<html>
<head>
    <title>Monster Hunting</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="foundation.min.css">
    <link rel="stylesheet" href="app.css">
</head>
<body>
<div id="app">
    <section class="row">
        <div class="small-6 columns">
            
            <h1 class="text-center">PLAYER</h1>
            <div class="profil text-center"><img src="player.png"></div><br>
            
            <div class="healthbar">
                <div :style="player_progress" class="healthbar text-center" style="background-color: green; margin: 0; color: white;">
                    {{ player_heal }}%
                </div>
            </div>
        </div>
        <div class="small-6 columns">
            
            <h1 class="text-center">MONSTER</h1>
            <div class="profil text-center"><img src="monster.png"></div><br>
            <div class="healthbar">
                <div :style="monster_progress" class="healthbar text-center" style="background-color: green; margin: 0; color: white;">
                    {{ monster_heal }}%
                </div>
            </div>
        </div>
    </section>

    <section class="row controls" v-if="!game_is_on">
        <div class="small-12 columns">
            <button id="start-game" @click="start_game">NEW GAME</button>
        </div>
    </section>

    <section class="row controls" v-if="game_is_on">
        <div class="small-12 columns">
            <button id="attack" @click="attack">ATTACK</button>
            <button id="special-attack" @click="special_attack">SPECIAL ATTACK</button>
            <button id="heal" @click="heal_up">FIRST AID</button>
            <button id="give-up" @click="give_up">GIVE UP</button>
        </div>
    </section>

    <section class="row log" v-if="logs.length > 0">
        <div class="small-12 columns">
            <ul>
                <li
                        :class="{ 'player-turn' : log.turn == 'p', 'monster-turn' : log.turn == 'm' }"
                        v-for="log in logs"> {{ log.text }}</li>
            </ul>
        </div>
    </section>
</div>

<script src="app.js"></script>
</body>
</html>